.App {
  text-align: center;
}

.searchLabel{
  font-size: 30px;
  cursor: pointer;
}

.searchLabels{
  height: 30px;
  width: 30px;
}
h6{
  text-align: right !important;
}

.trash{
  position: relative;
  left: 210px;
  top: 40px;
  cursor: pointer;
}
.mag-glass{
  position: relative;
  cursor: pointer;
  left: 20px;
}
.search-input{
  font-size: 40px;
}
body{
  margin: 100px;
}
label{
  margin: 30px;
}

.uk-input{
  width: 450px !important;
  height: 65px;
}

.search-form{
text-align: center !important;
}

form{

  padding: 30px;
}
img{
  height: 300px;
  width: 400px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.uk-button{
  box-shadow: 5px 5px grey !important;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
    /* color: #58b368; */

}

.hvr-growr {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.uk-button{
  box-shadow: 5px 5px grey !important;
}

.hvr-growr:hover,
.hvr-growr:focus,
.hvr-growr:active {
    transform: scale(1.2);
    color: #1b7fbd;

}

.searchedItem{
  font-size: 40px;
}
