.container {
  width: 1650px;
  text-align: left;
  font-size: 25px;
  margin: 5px;
  height: 75px;
  color: black;
  background: #C5C3C6;

  font-family: 'Oxygen', sans-serif;
}

.container1 {
  color: black;
  text-align: center;
}

.border {
  color: black;
  font-size: 45px;
  position: absolute;
  right: 70px;
  bottom: 20px;
}

.hvr-doc {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-doc:hover,
.hvr-doc:focus,
.hvr-doc:active {
  transform: scale(1.003);
  background-color: #1b7fbd;
  text-decoration: none;
  color: black;
}

.answers {
  margin: 1px;
  font-size: 50px;
  color: black;
  position: absolute;
  right: 130px;
  top: 20px;
  font-family: 'Oxygen', sans-serif;
}

.upvote-amount {
  margin: 1px;
  font-size: 50px;
  color: black;
  position: absolute;
  right: 320px;
  top: 20px;
  font-family: 'Oxygen', sans-serif;
}

.upvote-text {
  margin: 1px;
  font-size: 60px;
  color: white;
  position: absolute;
  right: 240px;
  top: 17px;
  font-family: 'Oxygen', sans-serif;
}


a {
  padding-top: 30px;
  padding-left: 50px;
}
