/* .item{
width: 600px;
  margin: 50px;
   background-color: #212121;
} */


.hvr-gif{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-gif:hover,
.hvr-gif:focus,
.hvr-gif:active {
    transform: scale(1.05);

}
