.logo {
  position: absolute;
  left:1rem;
  bottom: 1px;
  height: 180px;
  width: 480px;
}

.trash{
  font-size: 30px;
}

.nav-button{
font-size: 15px !important;
}

.user-icon{
  position: absolute;
  bottom: 150px;
  right: 20px;
}

.username {
  position: relative;
  left: 20px;
  top: 4px;

}

.profile-gif{
  height: 40px;
  width: 50px;
    border-radius: 5px;
}
